html {
    overflow: auto;
    height: 100%;
    margin: 0 auto;
}
body{
    background-image: url(assets/images/tile.jpg);
}
h1{
    text-align: center;
    font-size: xxx-large;
    font-family: myFirstFont;
}
form{
    margin: auto;
    width: 40%;  
    display: block;
    background-image: url(assets/images/formbg.jpg);
    min-width: 285px;
}
/*to organize the elements inside form*/
table{
    height: 100%;
}
label{
    background-color: whitesmoke;
    font: bolder 25px black;
}
/*Task area box in form element*/
#noteAreaBox{
    overflow: auto;
    width: inherit;
    background-color: inherit;
    font: bolder large black;
}
/*Task area box that the user saved*/
#container{
    margin: 10px;
    display: inline-block;
}
/*new task container*/
.containerTask {
    display: inline-block;
    padding: 25px;
    width: 150px;
    height: 200px;
    background-image: url(assets/images/notebg.png); 
}
/*the input the user entered in new task container*/
.mainTask{
    width: 100%;
    height: 80%;
    margin-top: 10px;
    overflow: auto;
    word-wrap: break-word;
}
/*Date and Time container*/
.dateAndTime{
    height: 20%;
    width: 100%;
    display: flex;
}
#buttons > button{
    background-color: cornflowerblue;
    border-radius: 10px;
    font-weight: bold;
}
#buttons > input{
    background-color: crimson;
    border-radius: 10px;
    font-weight: bold;
}
/*Delete button id*/
#button{
    float: left;
    position: relative;
    top: -109%;
    left: 87%;
}
/*making the glyph icon round corners */
svg{
    border-radius: 6px;
}
/*new fon family downloaded from google fonts*/
@font-face {
    font-family: myFirstFont;
    src: url(assets/fonts/GloriaHallelujah-Regular.ttf);
}
/*Creating fadeIn animation on tasks*/
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}   
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}   
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}   
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}    
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}